<div class="single-beer">
    <img src="{{this.image_url}}" alt="Beer picture">
<h1>{{this.name}}</h1>

<p class="description">{{this.description}}</p>
<p class="tagline">{{this.tagline}}</p>

</div>

{{!-- <p>{{this.food_pairing}}</p>
<p>{{this.brewer_tips}}</p> --}}

