
{{!-- <div>
<h1>{{this.name}}</h1>
<img src="{{this.image_url}}" alt="Beer picture">
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>
<p>{{this.food_pairing}}</p>
<p>{{this.brewer_tips}}</p>
</div> --}}


{{>beerpartials}}