
 <div class="random-beers">
<h1>{{this.name}}</h1>
<img src="{{this.image_url}}" alt="Beer picture">
<p class="random-beer-description">{{this.description}}</p>
<p>{{this.tagline}}</p>
<p>{{this.food_pairing}}</p>
<p>{{this.brewer_tips}}</p>
</div> 


{{!-- {{>beerpartials}} --}}

{{!-- No lei bien el ejercicio y aplique el partial a random-beers y beers, al releerlo creo que había que aplicarlo únicamente en la lista de todas las cervezas --}}